.button-default {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 100;

  color: #fff;
  background-color: #13bdd2;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  transition: all .6s;

  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0 0 0.5rem 0.1rem #545555;
  }
  &.disabled {
    background-color: #9d9e9e;
  }
}