.Posts {
  margin: 1rem;
  .wrapper {
    background-color: #8CC384;

    &.flex {
      flex-flow: column;
    }
  }
}

.Post {
  width: 60%;
  padding: 1rem;
  h2,
  p {
    margin: 0;
    padding: 1rem;
    background-color: rgba(201, 202, 202, 0.78);
  }
  h2 {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 1px solid rgb(168, 169, 169);
  }
  p {
    text-align: left;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: 100;
  }
}